/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos de las tarjetas de género */
.genre-card {
    background-color: #FF5733; /* Naranja para Rock */
    color: #FFFFFF; /* Texto blanco */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.genre-card h3 {
    margin-top: 0;
}

/* Estilos de las tarjetas de favoritos */
.favorite-card {
    background-color: #f9f9f9; /* Blanco */
    color: #333333; /* Gris oscuro */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.favorite-card button {
    background-color: #FF5733; /* Naranja */
    color: #FFFFFF; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.favorite-card button:hover {
    background-color: #FF7F50; /* Naranja más claro al pasar el mouse */
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

